<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>

<table>
    <thead>
    <tr>
        <th> Your Journal Entries</th>
    </tr>
    </thead>
    <tr th:each="journalEntry : ${journalEntries}">
        <td th:text="${journalEntry.dailyMood}"></td>
        <td th:text="${journalEntry.dailyWater.waterAmount}"></td>
        <td th:text="${journalEntry.writtenEntry}"></td>
    </tr>
</table>

</body>
</html>