* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-size: cover;
    opacity: 1.00;
}

html {
    height: 100%;

    padding: 0;
    box-sizing: border-box;

}
body, html {
    height: 100%;
    margin: 0;
}
nav{
    width: 100%;
}
ul{
    display: inline-flex;
    float: right;
    padding-right: 30px;
}
.nav-item-1 {
    list-style-type: none;
}
.title {
    display: inline-block;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    background: yellow;
    color: white;
}

.teaser-form {
    position: absolute;
    border: 1px solid black;
    top: 0;
    margin: 0; 0; auto;

}