* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body, html {
    height: 100%;
    margin: 0;
}
nav{
    margin: 30px;
    width: 100%;
}
ul{
    display: inline-flex;
    float: right;
}
.footer-link{
    color: white;
}
.nav-item{
    padding-right: 20px;
}
.nav-item-1 {
    padding-right: 20px;
    list-style-type: none;
}
.title {
    display: inline-block;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    background: #3785B9;
    padding: 60px;
    color: white;
}

.teaser-form {
    position: absolute;
    border: 1px solid black;
    top: 0;
    margin: 0; 0; auto;

}