<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container" style="font-family: 'Montserrat', sans-serif; background: #f5f5f5;">
<nav style="padding-bottom: 40px;">
    <h1 style="font-weight: bold; display: inline-block; padding: 30px;">Feel</h1>
    <ul style="display: inline-flex; float: right; padding: 50px;">
        <li class="nav-item" style="padding-right: 20px; list-style-type: none;"><a class="nav-link" href="/">Home </a></li>
        <li class="nav-item" style="padding-right: 20px"><a class="nav-link" href="/register">Register User </a></li>
        <li class="nav-item" style="padding-right: 20px"><a class="nav-link" href="/login">User Login </a></li>
        <li class="nav-item" style="padding-right: 20px"><a class="nav-link" href="/logout">Logout </a></li>
    </ul>
</nav>
        <main id="login-holder">
            <q style="font-size: x-large; text-align: center;">In time and with water, everything changes.</q><p> -Leonardo da Vinci</p>
            <h3 id="login-header-second">Login to start tracking your mood</h3>
            <form method="post" id="login-form" style="margin-top: 40px;">
                <div class="form-group row">
                    <lable class="col-sm-2 col-form-label">Username</lable>
                    <div class="col-sm-10">
                        <input type="text" id="username" class="login-username-field" placeholder="enter username" th:field="${loginDTO.username}">
                    </div>
                </div>
                <div class="form-group row">
                <label class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                    <input type="password" id="password" class="login-password-field" placeholder="enter password" th:field="${loginDTO.password}">
                    </div>
                </div>
                <input type="submit" value="Login" id="login">
            </form>

            <p type="button" id="sign-up">New users<a href="/register"> Register here</a></p>
        </main>
    </body>
<footer th:replace = "fragments :: footer"></footer>
</html>