<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body class="container">
<nav th:replace="fragments :: navigation"></nav>
        <main id="main-holder">
            <img id="logo" src="#" alt="feel app logo"> 
            <h1 id="login-header-main" style="color:white;">Welcome to Feel</h1>
            <q style="color: charcoal; justify-items: center;">In time and with water, everything changes.</q><p style="color: charcoal; justify-items: center;"> -Leonardo da Vinci</p>
            <h3 id="login-header-second" style="color: charcoal;">Login to start tracking your mood</h3>

            <form method="post" id="login-form">
                <input type="text" id="username" class="login-username-field" placeholder="enter username" th:field="${loginDTO.username}">
                <input type="password" id="password" class="login-password-field" placeholder="enter password" th:field="${loginDTO.password}">
                <input type="submit" value="Login" id="login">
            </form>

            <button type="button" id="sign-up"><a href="/register">New Users</a></button>
        </main>
        <script src="login-js.js">
        </script>
    </body>
</html>