<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>

<h1>Create Profile</h1>

<form method="post" action="/profile/create">
    <input type="text" name="Name">
    <input type="text" name="weight">
    <input type="text" name="age">
    <input type="text" name="dateOfBirth">
    <input type="text" name="mood">
    <input type="text" name="dailyWaterIntake">
    <input type="text" name="activityLevel">
    <input type="checkbox" name="Low">
    <input type="checkbox" name="Moderate">
    <input type="checkbox" name="I Never Stop!">
    <input type="text" name="energyLevel">
    <input type="checkbox" name="Low">
    <input type="checkbox" name="Moderate">
    <input type="checkbox" name="I Can Do It All!">
    <input type="text" name="Do you have any emotional goals?">
    <input type="text" name="How will tracking your water intake improve your life?">
    <input type="text" name="What is your tucked away goal that you've never said aloud?">


    <input type="submit" value="Create Profile">

</form>
</body>
</html>