<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Test form</title>
</head>
<body>

<form method="post">
    <div class="form-group">
        <label>Username
            <input class="form-style" th:field="${registerDTO.username}" />
        </label>
        <p class="error" th:errors="${registerDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-style" th:field="${registerDTO.password}" type="password" />
        </label>
        <p class="error" th:errors="${registerDTO.password}"></p>
    </div>
    <div class="form-group">
        <label>Verify Password
            <input class="form-style" th:field="${registerDTO.verifyPassword}" type="password" />
        </label>
    </div>

    <input type="submit" value="Register" />
</form>

</body>
</html>