<html lang="en" xmlns:th="https://www.thymeleaf.org/" >
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Coding Events</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body class="container" style="background: #10293e; font-family: 'Montserrat', sans-serif;">

<!--<nav th:replace="fragments :: navigation"></nav>-->
<div class="background">
    <image class="background-image" th:src="@{/img/water-drop-image.jpg}" style="position: absolute; left: 0; height: 80%; width: 100%;" alt="water-drop-image">
        <div style="display: block; position: absolute; margin: 28% 20%; align-items: center; width: 40%; justify-content: center; padding: 0px 130px; line-height: 1.5; color: #e0eaef; font-weight: 400; font-size: x-large;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
            <form class="teaser-form" method = "post" action="/water-intake-teaser" style="width: 400px; height: 300px;">
                <div class="form-group" style="padding: 10px;">
                    <label>Enter weight: </label>
                    <input class="form-control" th:field="${waterIntake.weight}">
                </div>
                <div class="form-group" style="padding: 10px;">
                    <label>Enter how many minutes a day you exercise: </label>
                    <input class="form-control" th:field="${waterIntake.dailyActivityTime}">
                </div>
                <div class="form-group" style="padding: 10px;">
                    <input type = "submit" value="Calculate Water Needs">
                </div>
            </form>
        </div>
    </image>

</div>


</body>
</html>